name: Build Only

on:
  workflow_dispatch: {}
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
env:
  ver_num: "1.0.${{ github.run_number }}"
            
jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        
    - name: Run Make
      run: "VERSION=${{ env.ver_num }} make"
