name: Build Only

on:
  workflow_dispatch: {}
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
env:
  ver_num: "1.0.${{ github.run_number }}"
            
jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        
    - name: Run Make
      run: "VERSION=${{ env.ver_num }} make"
